## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df_to_clean = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df = vacation_df_to_clean[["City","Max Temp","Weather Description","Lat","Lng","Hotel Name"]].copy()
vacation_df.dropna()

,City,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Atuona,78.19,light rain,-9.80,-139.03,Villa Enata
1,Georgetown,80.60,few clouds,5.41,100.34,Cititel Penang
2,Hilo,77.00,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
4,Hithadhoo,83.39,light rain,-0.60,73.08,Scoop Guest House
5,Bathsheba,86.00,shower rain,13.22,-59.52,Atlantis Hotel
...,...,...,...,...,...,...
188,Narasannapeta,76.86,broken clouds,18.42,84.05,G.lingaraju home
189,Kandi,81.09,clear sky,11.13,2.94,Maison des producteurs kandi
190,Mandera,82.20,moderate rain,3.94,41.87,Kornesh Hotel and Lodging
191,Assomada,84.20,scattered clouds,15.10,-23.68,Residencial Cosmos
192,Mecca,80.67,clear sky,21.43,39.83,Hotel Fairmont Makkah Clock Royal Tower

In [27]:
# 2, use template for info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start=vacation_df.loc[vacation_df["City"]=="Tamiahua"]
vacation_end=vacation_df.loc[vacation_df["City"]=="Tamiahua"]
vacation_stop1=vacation_df.loc[vacation_df["City"]=="Leon"]
vacation_stop2=vacation_df.loc[vacation_df["City"]=="Acapulco"]
vacation_stop3=vacation_df.loc[vacation_df["City"]=="Puerto Escondido"]

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (21.27, -97.45)
end = (21.27, -97.45)
stop1 = (21.12,-101.67)
stop2 = (16.86,-99.89)
stop3 = (15.85,-97.07)

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
mexicodirections = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='WALKING',show_markers=False, stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0)
fig.add_layer(mexicodirections)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Tamiahua,78.40,light rain,21.27,-97.45,Mission Of The Sun Hotel
1,Tamiahua,78.40,light rain,21.27,-97.45,Mission Of The Sun Hotel
2,Leon,78.80,clear sky,21.12,-101.67,Hotel Misión León
3,Acapulco,86.65,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco
4,Puerto Escondido,86.25,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))